@import "include/variables";

/* Full color scheme*/


.generate-colors(@colors-names-length);
.generate-colors(@name, @i: 1) when (@i =< @colors-names-length) {
    @name: extract(@color-names-list-full, @i);

    .generate-sub-colors(@colors-accents-length);
    .generate-sub-colors(@accent, @j: 1) when (@j =< @colors-accents-length) {
        @accent-name: extract(@color-accent-list, @j);
        @colors-lst: '@{name}-color-list';
        @accent-color: extract(@@colors-lst, @j);

        * .bd-@{name}-@{accent-name} {border-color: @@name;}
        * .ol-@{name}-@{accent-name} {outline-color: @@name;}

        * .fg-@{name}-@{accent-name}-active:active {color: @@name;}
        * .bg-@{name}-@{accent-name}-active:active {background-color: @@name;}
        * .bd-@{name}-@{accent-name}-active:active {border-color: @@name;}
        * .ol-@{name}-@{accent-name}-active:active {outline-color: @@name;}

        * .fg-@{name}-@{accent-name}-focus:focus {color: @@name;}
        * .bg-@{name}-@{accent-name}-focus:focus {background-color: @@name;}
        * .bd-@{name}-@{accent-name}-focus:focus {border-color: @@name;}
        * .ol-@{name}-@{accent-name}-focus:focus {outline-color: @@name;}

        .generate-sub-colors(@accent, @j + 1);
    }

    * .bd-@{name} {border-color: @@name;}
    * .ol-@{name} {outline-color: @@name;}

    * .fg-@{name}-active:active {color: @@name;}
    * .bg-@{name}-active:active {background-color: @@name;}
    * .bd-@{name}-active:active {border-color: @@name;}
    * .ol-@{name}-active:active {outline-color: @@name;}

    * .fg-@{name}-focus:focus {color: @@name;}
    * .bg-@{name}-focus:focus {background-color: @@name;}
    * .bd-@{name}-focus:focus {border-color: @@name;}
    * .ol-@{name}-focus:focus {outline-color: @@name;}

    .generate-colors(@name, @i + 1);
}

/* Short color scheme*/


.generate-colors-short(@colors-names-length-short);
.generate-colors-short(@name, @i: 1) when (@i =< @colors-names-length-short) {
    @name: extract(@color-names-list-short, @i);

    .generate-sub-colors-short(@colors-accents-length-short);
    .generate-sub-colors-short(@accent, @j: 1) when (@j =< @colors-accents-length-short) {
        @accent-name: extract(@color-accent-list-short, @j);
        @colors-lst: '@{name}-color-list';
        @accent-color: extract(@@colors-lst, @j);

        * .bd-@{name}-@{accent-name} {border-color: @@name;}
        * .ol-@{name}-@{accent-name} {outline-color: @@name;}

        * .fg-@{name}-@{accent-name}-active:active {color: @@name;}
        * .bg-@{name}-@{accent-name}-active:active {background-color: @@name;}
        * .bd-@{name}-@{accent-name}-active:active {border-color: @@name;}
        * .ol-@{name}-@{accent-name}-active:active {outline-color: @@name;}

        * .fg-@{name}-@{accent-name}-focus:focus {color: @@name;}
        * .bg-@{name}-@{accent-name}-focus:focus {background-color: @@name;}
        * .bd-@{name}-@{accent-name}-focus:focus {border-color: @@name;}
        * .ol-@{name}-@{accent-name}-focus:focus {outline-color: @@name;}

        .generate-sub-colors-short(@accent, @j + 1);
    }

    * .bd-@{name} {border-color: @@name;}
    * .ol-@{name} {outline-color: @@name;}

    * .fg-@{name}-active:active {color: @@name;}
    * .bg-@{name}-active:active {background-color: @@name;}
    * .bd-@{name}-active:active {border-color: @@name;}
    * .ol-@{name}-active:active {outline-color: @@name;}

    * .fg-@{name}-focus:focus {color: @@name;}
    * .bg-@{name}-focus:focus {background-color: @@name;}
    * .bd-@{name}-focus:focus {border-color: @@name;}
    * .ol-@{name}-focus:focus {outline-color: @@name;}

    .generate-colors-short(@name, @i + 1);
}

* .bd-white {border-color: @white;}
* .ol-white {outline-color: @white;}

* .bd-black {border-color: @black;}
* .ol-black {outline-color: @black;}

* .fg-white:active {color: @white;}
* .bg-white:active {background-color: @white;}
* .bd-white:active {border-color: @white;}
* .ol-white:active {outline-color: @white;}

* .fg-black:active {color: @black;}
* .bg-black:active {background-color: @black;}
* .bd-black:active {border-color: @black;}
* .ol-black:active {outline-color: @black;}

* .fg-white:focus {color: @white;}
* .bg-white:focus {background-color: @white;}
* .bd-white:focus {border-color: @white;}
* .ol-white:focus {outline-color: @white;}

* .fg-black:focus {color: @black;}
* .bg-black:focus {background-color: @black;}
* .bd-black:focus {border-color: @black;}
* .ol-black:focus {outline-color: @black;}

