@import (once) "../include/variables";
@import (once) "../include/mixins";


.button {
    border: 0;
    outline: 0;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    height: 36px;
    //margin: 0 8px;
    padding: 0 8px;
    font-size: 14px;
    background-color: @white;
    color: @black;
    border-radius: 2px;
    position: relative;
    overflow: visible;

    &:active, &:focus {
        outline: none;
    }

}

.raised-button + .raised-button {
    //margin: 0 8px;
}

.flat-button, .raised-button, .action-button, .tool-button {
    .button;
}

.flat-button {
    min-width: 64px;
    background-color: transparent;
}

.raised-button {
    min-width: 88px;
    padding: 0 16px;
    .shadow(1);
}

.action-button {
    padding: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    .shadow(1);

    .icon {
        width: 24px;
        height: 24px;
        font-size: 22px;
    }

    &.primary {
        .shadow(2);
    }

    &.secondary {
        width: 40px;
        height: 40px;
        box-shadow: none;
    }

    &:active {
        .shadow(3);
    }

    &.mini {
        .square(40px);
    }
}

.flat-button {
    &.active, &:active {
        //background-color: #D5D5D5;
    }
}

.raised-button, .action-button {
    &.disabled, &:disabled {
        .shadow(0);
        color: lighten(@black, 60%);
    }

    &.active, &:active {
        background-color: #D5D5D5;
        .shadow(3);
    }
}

.tool-button {
    height: 48px;
    width: 48px;
    display: block;
    float: left;
    background-color: @lightBlue700;
    color: @white;
    position: relative;


    .icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
}

.flat-button, .raised-button {
    [class*=mif-] {
        //line-height: 36px;
    }
}

.nav-button {
    width: 48px;
    height: 48px;
    margin: 4px 0;
    background-size: 1rem 1rem;
    background: center center no-repeat;
    text-indent: -9999px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    position: relative;

    &:active, &:focus, &:hover {
        outline: none;
    }

    &:hover {
        //background: rgba(255,255,255, .1);
    }

    span {
        position: absolute;
        //top: 1.2rem;
        left: 50%;
        width: 20px;
        height: 2px;
        margin: 0 0 0 -10px;
        background: @white;
        .rotate(0);
        .transition(transform, .3s, linear);

        &:before, &:after {
            content: '';
            position: absolute;
            top: -8px;
            right: 0;
            width: 20px;
            height: 2px;
            background: @white;
            .rotate(0);
            .transition(transform, .3s, linear);
        }

        &:after {
            top: 8px;
        }
    }

    &.transform {
        span {
            .transition(transform, .3s, linear);
            .rotate(180deg);
            background: @white;

            &:before, &:after {
                content: '';
                top: -5px;
                right: 0;
                width: .75rem;
                .rotate(45deg);
                .transition(transform, .3s, linear);
            }

            &:after {
                top: 5px;
                .rotate(-45deg);
            }
        }
    }

    &.light {
        span {
            background-color: @gray900;
            &:before, &:after {
                background-color: @gray900;
            }
        }
    }
}