@import "../include/variables";

/* Full color scheme*/


.generate-colors(@colors-names-length);
.generate-colors(@name, @i: 1) when (@i =< @colors-names-length) {
    @name: extract(@color-names-list-full, @i);

    .generate-sub-colors(@colors-accents-length);
    .generate-sub-colors(@accent, @j: 1) when (@j =< @colors-accents-length) {
        @accent-name: extract(@color-accent-list, @j);
        @colors-lst: '@{name}-color-list';
        @accent-color: extract(@@colors-lst, @j);
        @accent-color-name: "@{name}@{accent-name}";

        .bg-@{name}-@{accent-name} {background-color: @@accent-color-name !important;}
        .fg-@{name}-@{accent-name} {color: @@accent-color-name !important;}

        .generate-sub-colors(@accent, @j + 1);
    }

    .fg-@{name} {color: @@name !important;}
    .bg-@{name} {background-color: @@name !important;}

    .generate-colors(@name, @i + 1);
}

/* Short color scheme*/


.generate-colors-short(@colors-names-length-short);
.generate-colors-short(@name, @i: 1) when (@i =< @colors-names-length-short) {
    @name: extract(@color-names-list-short, @i);

    .generate-sub-colors-short(@colors-accents-length-short);
    .generate-sub-colors-short(@accent, @j: 1) when (@j =< @colors-accents-length-short) {
        @accent-name: extract(@color-accent-list-short, @j);
        @colors-lst: '@{name}-color-list';
        @accent-color: extract(@@colors-lst, @j);
        @accent-color-name: "@{name}@{accent-name}";

        .bg-@{name}-@{accent-name} {background-color: @@accent-color-name !important;}
        .fg-@{name}-@{accent-name} {color: @@accent-color-name !important;}

        .generate-sub-colors-short(@accent, @j + 1);
    }

    .fg-@{name} {color: @@name !important;}
    .bg-@{name} {background-color: @@name !important;}

    .generate-colors-short(@name, @i + 1);
}

.fg-white {color: @white !important;}
.bg-white {background-color: @white !important;}
.fg-black {color: @black !important;}
.bg-black {background-color: @black !important;}

.fg-mirohost-red {color: @mirohostRed !important;}
.fg-mirohost-dark {color: @mirohostDark !important;}
.fg-mirohost-light {color: @mirohostLight !important;}
.fg-mirohost-gray {color: @mirohostGray !important;}
.bg-mirohost-red {background-color: @mirohostRed !important;}
.bg-mirohost-dark {background-color: @mirohostDark !important;}
.bg-mirohost-light {background-color: @mirohostLight !important;}
.bg-mirohost-gray {background-color: @mirohostGray !important;}

