@import (once) "../include/variables";
@import (once) "../include/mixins";

.dialog {
    font-size: 14px;
    padding: 24px 24px 76px;
    z-index: @zIndexDialog;
    max-width: 90%;
    background: @white;
    position: fixed !important;
    .shadow(3);
}

.dialog-title {
    color: @blueGray900;
    font-size: 18px;
}

.dialog-content {

}

.dialog-title + .dialog-content {
    margin-top: 20px;
}

.dialog-actions {
    border-top: 1px @gray200 solid;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 8px;
    text-align: right;

    .flat-button {
        margin: 0 4px;
        min-width: 64px;
    }
}

.dialog {
    &.success, &.alert, &.info, &.warning {
        color: @white;

        .dialog-title, .dialog-content, .dialog-actions button {
            color: @white;
        }
    }
    &.success {
        background: @green;
    }
    &.alert {
        background: @red;
    }
    &.info {
        background: @lightBlue;
    }
    &.warning {
        background: @orange;
    }
}

.dialog {
    &.animate {
        transform: scale(1);
        transition: all .3s;
    }
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container {
    iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}
