@import (once) "../include/variables";
@import (once) "../include/mixins";

.grid-list {
    display: block;
    padding: 2px;
}

.grid-list {
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.grid-list {
    .cell {
        display: block;
        position: relative;
        padding: 2px;
        flex: 1 1 auto;
    }

    &.condensed {
        padding: 1px;
        .cell {
            padding: 1px;
        }
    }
}

.grid-list {
    .cell {
        img {
            width: 100%;
        }
    }
}

//@gridMargin: 4;

.grid {
    display: block;
    position: relative;
    padding: 2px;
    .clear();

    .row {
        width: 100%;
        display: block;
        .clear();

        & > .cell {
            display: block;
            position: relative;
            float: left;
            width: 100%;
            min-height: 10px;
            padding: 2px;
        }

        .generate-cell(@gridColumns);

        .generate-cell(@n, @i: 2) when (@i =< @n){

            //@width: ~"calc(100% / @{i})";

            &.cells@{i} {
                & > .cell {
                    width: ~"calc(100% / @{i})";

                    .generate-colspan(@i);
                    .generate-colspan(@j, @k: 2) when (@k =< @j){
                        &.colspan@{k} {
                            width: ~"calc(100% / @{i} * @{k})";
                        }
                        .generate-colspan(@j, (@k + 1));
                    }

                    .generate-offset(@i);
                    .generate-offset(@j, @k: 1) when (@k =< @j){
                        &.offset@{k} {
                            margin-left: ~"calc(100% / @{i} * @{k})";
                        }
                        .generate-offset(@j, (@k + 1));
                    }
                }
            }

            .generate-cell(@n, (@i + 1));
        }
    }

    .row:empty {
        display: none;
    }

    &.condensed {
        padding: 1px;

        .cell {
            padding: 1px;
        }
    }
}

@media screen and (max-width: 640px) {
    .grid.default-media, .grid-list.default-media  {
        .cell {
            width: 50% !important;
        }
    }
}

@media screen and (max-width: 360px) {
    .grid.default-media, .grid-list.default-media {
        .cell {
            width: 100% !important;
        }
    }
}

